.layout{
    width: 50%;
    margin: 0 auto;
}

.header, .navi, .wrapper, .section, .article, .aside, .footer{
    border: 1px solid black;
    text-align: center;
    min-height: 120px;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: black;
    font-weight: 700;
    background-color: cornsilk;
}

.header, .navi, .wrapper,.footer{
    margin-top: 10px;
}

.header {
}

.navi {
}

.section {
}

.article {
   
}
.wrapper{
    width:100%;
    overflow: hidden;
}

.content{
    float: left;
    width:72%;
}

.aside {
    float: right;
    width:25%;
    min-height: 240px;
    line-height: 220px;
}
